// Info pruh
.site-msg.information {
  max-width: none;
  position: initial;
  background-color: #1a2f57;
  border-style: none;
  opacity: 1;
  line-height: 1.2;
  box-shadow: none;

  min-height: 30px;

  .text {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
  }

  .close {
    transition-duration: .3s;

    &:hover {
      opacity: .7;
    }

    &::before {
      color: #fff;
    }
  }
}

// Info pruh