$color-conversion: var(--color-secondary);
$color-conversion-hover: var(--color-secondary-hover);

$color-primary: var(--color-primary);
$color-secondary: var(--color-primary-hover);
$color-tertiary: var(--color-tertiary);
$color-quaternary: var(--color-tertiary-hover);

$color-black: #141414;

$border-radius: 4px;